html,
body {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: var(--bg-light);
    height: 100vh;
}

.form {
    --bg-light: #efefef;
    --bg-dark: #707070;
    --clr: #58bc82;
    --clr-alpha: #9c9c9c60;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 1rem;
    width: 90%;
    max-width: 500px;
    padding: 2rem;
    background-color: white;
    border-radius: 1rem;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.form .input-span {
    width: 100%;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
}

.form input[type="email"],
.form input[type="password"] {
    border-radius: 0.5rem;
    padding: 1rem;
    width: 93%;
    border: 1px solid var(--bg-dark);
    background-color: var(--clr-alpha);
    outline: none;
}

.form input[type="email"]:focus,
.form input[type="password"]:focus {
    outline: 2px solid var(--clr);
}

.label {
    align-self: flex-start;
    color: var(--clr);
    font-weight: 600;
}

.form .submit {
    padding: 1rem;
    width: 100%;
    border-radius: 2rem;
    background-color: var(--bg-dark);
    color: var(--bg-light);
    border: none;
    cursor: pointer;
    transition: background-color 300ms;
    font-weight: 600;
    font-size: 1rem;
}

.form .submit:hover {
    background-color: var(--clr);
    color: var(--bg-dark);
}

.span {
    text-decoration: none;
    color: var(--bg-dark);
}

.span a {
    color: var(--clr);
}